header {
  background-color: aquamarine;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}
header a:link {
  text-decoration: none;
}
header img {
  max-width: 64px;
}

table {
  border-collapse: collapse;
  border : 1px solid gray;
}
td {
  padding: 10px;
  border : 1px solid gray;
  vertical-align: top;
}
.price {
  text-align: right;
}
img.product-tile {
  max-width: 64px;
}

/* Page specific styles */
body.product-list {

}

img.cart {
    display: inline-block;
    margin: 21px 21px 0 0;
    max-width: 42px;
}

.center {
    text-align: center;
}

.update-button {
    background-image: url('../images/update.png');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
}

.text-header {
    font-size: 32px;
    font-weight: bold;
}
.inline {
    display: inline;
    border: 0;
}

.plus-icon{
    background-image: url('../images/plus.png');
    background-size: 15px;
    height: 15px;
    width: 15px;
    border:none;
    background-color: white;
}

.minus-icon{
    background-image: url('../images/minus.png');
    background-size: 15px;
    height: 15px;
    width: 15px;
    border:none;
    background-color: white;
}
.delete-order-icon{
    background-image: url('../images/remove.png');
    background-size: 15px;
    height: 15px;
    width: 15px;
    border:none;
    background-color: white;
}
.text-body{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.cart-icon{
    background-image: url('../images/bin.png');
    background-size: 15px;
    height: 15px;
    width: 15px;
    border:none;
    background-color: white;
    text-align: center;
}
.red{
    color: red;
    font-size: 18px;
}
.green{
    color: green;
    font-size: 18px;
}
.some:after {
    content: "*";
    color: red;
}
.text-body-left{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
img.order{
    display: inline-block;
    margin: 21px 21px 0 0;
    max-width: 42px;
}
span{
    color: red;
}
